* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-body: #121214;
  --paragraph-color: #a1a1aa;
}

ul {
  list-style: none;
}

body {
  font-size: 1.6rem;

  background-image: url(./images/Fundo.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: var(--bg-body);
}

body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

main {
  max-width: 58rem;
  width: 90%;
  margin: 0 auto;
}

section h2 {
  font-weight: 900;
  letter-spacing: -0.47px;

  color: white;
}

section p {
  letter-spacing: -0.18px;

  color: var(--paragraph-color);
}
